<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-1">TEST YO SELF</h1>
        <p class="lead">Welcome, Cami. Get ready to feel the learn. Start by creating a quiz below.</p>
    </div>
</div>

<div class="container" style="max-width: 80%">


    <div class="row mb-5">
        <div class="col">
            <button type="button" class="btn btn-primary btn-lg">Add Quiz</button>
        </div>
    </div>

    <div class="row">
        <div class="col-3">

            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Quiz One</div>
                <div class="card-body">
                    <h4 class="card-title">Biology</h4>
                    <p class="card-text">Study Quiz for the test on Osmosis this Friday in Madam Pomfrey's class.</p>
                    <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Quiz Two</div>
                <div class="card-body">
                    <h4 class="card-title">Algebra</h4>
                    <p class="card-text">Finals next Saturday on Algebra fundamentals. Still need a study group!</p>
                    <button type="button" class="btn btn-primary btn-sm">Edit</button>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Quiz Three</div>
                <div class="card-body">
                    <h4 class="card-title">Music Lessons</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
                        officiis quasi natus aliquam velit dicta, distinctio culpa asperiores, sit quis, accusamus
                        recusandae.</p>
                    <button type="button" class="btn btn-primary btn-sm">Edit</button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Quiz Four</div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>