
  <!-- ========header start ========== -->
  <center>
    <header>
      <h1>Test Yo Self</h1>
    </header>
  </center>
  <!-- ========= Header End ========= -->
  <!-- =============== Chat Box Location =========== -->
  <div class="card border-primary text-right mr-4 p-2" style="float:right; max-width: 20rem; margin-bottom: 25px">
    <div class="card-container">
      <div class="card-chat">chat
    </div>
    </div>
  </div>
  <!-- =========== Chat Box End ==================== -->
  <br>
  <!-- question box start-->
  <div class="container text-center" style="max-width: 45%">
    <div class="card mb-4">
      <h3 class="card-header bg-primary">Question 1</h3>
      <div class="card-body">
        <h5 class="card-title text">Question: Is grass green?</h5>
      </div>
      <hr>
      <br>
      <!-- ============== question submit button ============== -->
      <div class="text-center mb-4">
        <button onclick="alert('hello')" type="submit" class="btn btn-outline-primary ml-3">Ready</button>
      </div>
      <!-- ================ question submit button end ================= -->
    </div>
  </div>
  <!-- ==============question box end ===================== -->
  <br>
  <br>
  <br>
  <!-- ============ back button ============= -->
  <div class="text-center">
    <div class="back btn-group">
      <a onclick="alert('back to other question')" href="#" class="btn btn-primary">Back</a>
    </div>
    <!-- ========= Next button ================== -->
    <div class="next btn-group">
      <a onclick="alert('next question')" href="#" class="btn btn-primary">Next</a>
    </div>
  </div>
  <!-- ============== back and next buttons End =========== -->

