<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-1">Test Yo Self Group </h1>
    <p class="lead">Answer Yo Question Below</p>
  </div>
</div>

  <br>
  <div class="container" style="max-width: 50%">
      <!-- =============== Chat Box Location =========== -->
  <div class="card border-primary ml-auto p-2" style="float:right; margin-bottom: 25px">
    <div class="card-container" style="max-width: 40rem; height: 200px">
      <div class="card-chat">chat
      </div>
    </div>
  </div>
  <!-- =========== Chat Box End ==================== -->

  <!-- question box start-->
  <div class="container text-center" style="max-width: 100%">
    <div class="card mb-4">
      <h3 class="card-header bg-primary">Question 1</h3>
      <div class="card-body">
        <h5 class="card-title text">Question: Is grass green?</h5>
      </div>
      <hr>
      <br>
      <!-- ============== question submit button ============== -->
      <div class="text-center mb-4">
        <button onclick="alert('hello')" type="submit" class="btn btn-outline-primary ml-3">Ready</button>
      </div>
      <!-- ================ question submit button end ================= -->
    </div>
  </div>
  <!-- ==============question box end ===================== -->
  <br>
  <br>
  <br>
  <!-- ============ back button ============= -->
  <div class="text-center">
    <div class="back btn-group">
      <a onclick="alert('back to other question')" href="#" class="btn btn-primary">Back</a>
    </div>
    <!-- ========= Next button ================== -->
    <div class="next btn-group">
      <a onclick="alert('next question')" href="#" class="btn btn-primary">Next</a>
    </div>
  </div>
</div>

<!-- ============== back and next buttons End =========== -->