<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
<<<<<<< HEAD
        <h1 class="display-1">SIGN UP</h1>
=======
        <h1 class="display-1">SIGN UP <i class="fas fa-user-plus"></i></h1>
>>>>>>> origin/joe
        <p class="lead">Enter username, email, and password below</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col col-md-8 mx-auto">
            <form action="/users/signup" method="POST">
                {{#each errors}}
                <p>{{this.message}}</p>
                {{/each}}
                {{#if success}}
                {{success}}
                {{/if}}
<<<<<<< HEAD
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                </div>
                <div class="form-group">
=======
                <div class="form-group"><i class="fas fa-user"></i>
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
                </div>
                <div class="form-group"><i class="fas fa-envelope"></i>
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                </div>
                <div class="form-group"><i class="fas fa-lock"></i>
>>>>>>> origin/joe
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <div style="padding-top:10px; font-size:85%">
                        Already have an account?
                        <a href="/users/signin">Sign In Here</a>
                    </div>
                </div>
<<<<<<< HEAD
                <button type="submit" class="btn btn-primary">Sign Up</button>
=======
                <button type="submit" class="btn btn-primary">Sign Up <i class="fas fa-user-plus"></i></button>
>>>>>>> origin/joe
            </form>
        </div>
    </div>
</div>